/* Header Style */
h1 {
    color: #ff3366;
    background-color: #ffd9e8;
    border: 2px solid #ff3366;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Button Style */
.css-qrbaxs {
    color: white;
    background-color: #328188;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #205b5b;
    border-radius: 15px;
    cursor: pointer; /* Add a pointer cursor for better interaction */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.css-qrbaxs:hover {
    background-color: #205b5b; /* Change color on hover */
}

/* Paragraph, Ordered List, Unordered List, Definition List Style */
p, ol, ul, dl {
    background-color: #a1d6ea;
    padding: 20px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px; /* Add some space between elements */
}

/* List Item Style */
.css-nlntq9 li {
    margin: 10px 0;
    padding: 0.6em;
    font-size: 22px;
    border: 1px solid #328188;
    border-radius: 8px;
}

/* Container Style */
.css-1cpxqw2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* Link Style */
a {
    padding: 8px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

a:hover {
    background-color: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Button Text Style */
.st-bt {
    font-size: 25px;
    font-weight: 600;
    background-color: #e6f0ff;
    color: #205b5b;
    padding: 15px;
    border: 2px solid #205b5b;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.st-bt:hover {
    background-color: #205b5b;
    color: #fff;
}